@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button class="border-0 bg-transparent text-primary" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a class="border-0 bg-transparent text-primary" href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

@code {
    private ClaimsPrincipal? User;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
    }

    private async Task Logout()
    {
        await ((JwtAuthenticationStateProvider)AuthenticationStateProvider).NotifyUserLogout();
        StateHasChanged();
    }
}
